$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$bg-color1: #fbfbfb;

$bg-color: #5c4d78;

$hover-color: orange;

$title-color1: #263959;

$link-color: #5c2d5b;
$bg-link-color: #bcace0;
$bg-font-color: white;
$title-color: #5c2d5b;

$tag-hover-color: #cfc2de;

$violet-box-bg-color: #fbf9ff;
$violet-box-border-color: #e8dfff;


$blockquote-color: #f7fafc;