
  $white: #ffffff;
  $dark-blue: #263959;
  $dark-gray: #a0a0a0;
  $lightgray: #fafafa;
  $dark: #333030;
  $gray: #ecf0f1;

  $body-color: #515151;

  $bg-color: #5c4d78;
  $hover-color: orange;
  $title-color1: #263959;
  $link-bg-white-color: #5c2d5b;
  $link-color: #c4bbda;
  $bg-font-color: white;
  $title-color: #5c2d5b;

  $tag-page-title-color: $white;
  $tag-hover-color: #cfc2de;
  $tag-box-bg-color: #fbf9ff;
  $tag-box-border-color: #e8dfff;

  $blockquote-bg-color1: #f7fafc;
  $blockquote-bg-color: #fbf9ff;
  $blockquote-color: #5c4d78;
  $blockquote-border-color: #a967a8;
