$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

$bg-color: #f2f2f8;
$bg-font-color: $dark;
$title-color: #1d3052;

$hover-color: orange;
$link-bg-white-color: $title-color;
$link-color: $title-color;

$tag-page-title-color: $dark;
$tag-hover-color: $gray;
$tag-box-bg-color: $lightgray;
$tag-box-border-color: $gray;


$blockquote-bg-color1: #f7fafc;
$blockquote-bg-color: #fbf9ff;
$blockquote-color: #5c4d78;
$blockquote-border-color: #a967a8;