.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1250px;
  @include align-self(center);
}

.content-box {
  padding: 20px;
  padding-top: 50px;
  width: 100%;
  height: 100%;

  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  @include transition(all 0.5s ease);
}

#show-nav {
  padding: 15px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.btn-arrow-container {
  @include flexbox;
  @include flex-direction(column);
  @include align-self(flex-end);
  @include sticky;
  bottom: 1em;
  width: 1.4em;
  height: auto; 
  z-index: 1000;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
  visibility: visible;

  @include transition(all 0.5s ease);

  // .btn-arrow {
  //   color: $bg-link-color;
  // }
}

.sticky-header {
  @include sticky;
  top: convert-unit(1.5, em, px) + $tobbar-padding + 5px;
  padding-bottom: 5px;
  z-index: 1000;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-box {
    padding: 10px;
    padding-top: 30px;
  }

  .sticky-header {
    top: convert-unit(1.1, em, px) + $tobbar-padding-s + 5px;
  }

  .btn-arrow {
    width: 1.3em;
    font-size: 1.3em;
  }
}
