.post-list {
  clear: both;
  list-style: none;
  width: 100%;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-start);

  padding: 0;
  
  .post-item {
    // border: 1px solid forestgreen;
    @include flexbox;
    @include flex-direction(column);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    min-height: 4rem;
    background-color: #fff;
    overflow: hidden;
  
    @include border-radius(10px);
    @include transition(all .3s ease);
    // @include box-shadow(0 1px 1px 0 rgba(31, 35, 46, .15));
    @include box-shadow(3px 7px 9px 0px rgba(0,0,0,0.51));

    &:hover {
      @include transform(translate(0px, -2px));
      // @include box-shadow(0 15px 45px -10px rgba(10, 16, 34, .2));
      @include box-shadow(3px 20px 50px -15px rgba(0,0, 0, .9));
    }

    // & * {
    //   padding: 2px;
    // }

    .post-item-header {
      // border: 1px solid royalblue;
      border-bottom: 1px solid $dark-gray;
      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      width: 100%;
      margin-bottom: .4em;

      .post-title {
        // border: 1px solid brown;
        overflow: hidden;
        padding: 0;
        // white-space: nowrap; 
        // overflow: hidden;
        // text-overflow: ellipsis;
        line-height: 2em;
        a {
          color: $title_color;
        }
      }
      .post-date {
        // border: 1px solid red;
        font-size: 0.75em;
        @include align-self(flex-start);
        @include align-self(center);
      }
    }

    .post-item-body {
      // border: solid 1px blue;
      @include flexbox;
      width: 100%;
      margin-bottom: .3em;
    }

    .post-img {
      // border: solid 1px orangered;
      text-align: center;
      margin-right: .8em;
    }

    .post-thumbnail {
      // border: solid 1px powderblue;
      height: 100px;
      max-width: 100%;
      @include border-radius(10px);
    }
    
    .post-text {
      // border: solid 1px purple;
      color: $dark;
      margin-bottom: .3em;
      height: 100%;
      width: 100%;
      max-width: 100%;
      @include align-self(center);
      word-wrap: break-word;
    }

    .item-list-tag {
      @include flexbox;
      @include flex-direction(row);
      margin-bottom: .4em;
      padding-left: .6em;

      & > * {
        margin-right: 3px;
      }
    }
  }
}

.pagination {
  padding: 5px;
  letter-spacing: .5em;

  a {
    font-family: $font-serif;
    &:hover {
      font-weight: bold;
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .post-item-body {
    @include flex-wrap(wrap);
  }

  .post-img {
    width: 100%;
  }
}
