.tag-page-title {
  margin: 0;
}
.category-title,
.tag-title {
  border-bottom: solid 1px $dark;
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  width: 100%;
  @include align-self(flex-start);
  background-color: $lightgray;
}

.category_name,
.tag-name {
  font-weight: 400;
  font-size: 1.1em;
}

.post-count {
  padding-left: 10px;
  vertical-align: middle;
}