.tag-box {
  @include border-radius(3px);
  text-decoration: none;
  background-color: $tag-box-bg-color;
  border: 1px solid $tag-box-border-color;
  padding: 5px 5px;
  color: $dark-blue;
  @include transition(background-color .3s);
}

.tag {
  font-size: 0.7em;
  &:hover {
    background-color: $tag-hover-color;
  }
}

.tag-list {
  margin-bottom: 500px;
}

.tags {
  max-width: $max-container-width;
  margin-bottom: 50px;
}

.tag-wrapper {
  // border: 1px solid royalblue;
  margin-bottom: 70px;
}

.tag-page-title {
  // border: 1px solid orange;
  padding: 5px;
  margin: 0;
  color: $tag-page-title-color;
  // text-shadow: 5px 5px 3px $dark;
}

// .all-tags {
//   color: $bg-link-color;
// }

.category-title,
.tag-title {
  border-bottom: solid 1px $dark;
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  width: 100%;
  @include align-self(flex-start);
  background-color: $bg-color;
  color: $bg-font-color;
}

.tag-title {
  // background: linear-gradient(90deg, $tag-title-bg-color, $bg-color);
  background: linear-gradient(to right, $bg-color, $post-item-border-color, $bg-color);
}

.category_name,
.tag-name {
  font-weight: 400;
  font-size: 1.1em;
}

.post-count {
  padding-left: 10px;
  vertical-align: middle;
}