.topbar {
  @include flexbox;
  @include flex-direction(row);
  width: 100%;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin-left: 20px;
  padding-bottom: $tobbar-padding;
  padding-top: $tobbar-padding;

  @include transition(all 0.5s ease);

  .sidebar-toggle {
    font-size: 1.2em;
    color: $bg-font-color;
    cursor: pointer;    
  }

  .topmenu {
    padding-left: 0.4em;
    @include align-self(center);
    vertical-align: middle;
    font-size: 1.2em;

    text-shadow: 3px 3px 2px $dark;

    // .btn-home {
    //   color: $bg-link-color;
    // }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .topbar {
    margin-left: 2px;
    padding-top: $tobbar-padding-s;
    padding-bottom: $tobbar-padding-s;
    
    .sidebar-toggle {
      font-size: 1.4em;
    }
  
    .topmenu {
      padding-left: 0.5em;
      font-size: 1.25em;
    }
  }
}
