  {% assign prev = "" %}
  {% assign next = "" %}
  {% assign stop = false %}

  {% for post in site.posts %}
    {% if post == page %}
      {% assign stop = true %}
    {% else %}
      {% for category in post.categories %}
        {%if page.categories contains category %}

          {% if stop %}
            {% assign prev = post.url %}
            {% assign pTitle = post.title %}
            {% break %}
          {% else %}
            {% assign next = post.url %}
            {% assign nTitle = post.title %}
          {% endif %}

        {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor%}

<div class="pagination-post">
  {% assign truncate_count = 20 %}
  {% if prev != "" %}
    <div class="previous gray-box page-trail">
      <a class="link-bg-white no-scale" href="{{ prev }}"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;{{pTitle | truncate: truncate_count, '...'}}</a>
    </div>
  {% endif %} 
  {% comment %} <div class="previous gray-box page-trail">
    {% assign category_size = page.category | size %}
    {% if category_size > 0 %}
      {% assign url = '/categories/' | append: page.category[0] | downcase | prepend: site.baseurl | replace: '//', '/' %}
    {% else %}
      {% assign url = site.baseurl | append: '/' %}
    {% endif %}
    <a class="no-scale" href="{{url}}">Post List</a>
  </div> {% endcomment %}
  {% if next != "" %}
    <div class="next gray-box page-trail">
      <a class="link-bg-white no-scale" href="{{ next }}">{{nTitle | truncate: truncate_count, '...'}} &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
    </div>
  {% endif %}
</div>