{% if paginator.page_trail %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% for trail in paginator.page_trail %}
            <a 
                class="{% if page.url == trail.path %}selected{% endif %}"
                href="{{ trail.path | prepend: site.baseurl }}" title="{{ trail.title }}">
                {{ trail.num }}
            </a>
    {% endfor %}

     {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-angle-right"></i></a>
    {% endif %}
    </div>
{% endif %}