<li class="post-item">
  <div class="post-item-header">
    <div class="post-title">
      <h2><a class="link-bg-white no-scale" href="{{post.url | prepend: site.baseurl | replace: "//", "/"}}">
          {{ post.title | | truncate: 35, '...' }}
      </a></h2>
    </div>

    <div class="post-date">
      {{ post.date | date: '%Y, %b %d' }}
    </div>
  </div>
  <div class="post-item-body">
    {% if post.img %}
      <div class="post-img">
        <a class="no-scale" href="{{post.url | prepend: site.baseurl | replace: "//", "/"}}">
          <img class="post-thumbnail" src="{{ site.image_url | append:  "/thumbnails/thumb_" | append: post.img | prepend: site.baseurl }}" alt="{{post.img}}" />
        </a>
      </div>
    {% endif %}
    <div class="post-text">{{ post.content | strip_html | truncatewords: 15 }}</div>
  </div>

  <div class="item-list-tag">
    {% for tag in post.tags %}
      <a class="tag-box no-anim tag" href="/tags#{{ tag | prepend: site.baseurl | replace: "//", "/" }}">&#35; {{ tag }}</a>
    {% endfor %}
  </div>
  
</li>